body {
    background-color: slategray;
}
/* Odie esto */
/* #logoP {
    width: 80px;
    height: 80px;
    background-image: url(../Img/4852810.png);
    background-size: 316px;
    background-position: -38px -50px;
} */